<%= form_for(resource, :as => resource_name,
	:url => session_path(resource_name), html: {class: "well"}) do |f| %>
	<%= f.label(:email)%>
	<%= f.email_field(:email, class: 'span', placeholder: 'Your email') %>
	<%= f.label(:password)%>
	<%= f.password_field(:password, class: 'password', placeholder: 'Password' ) %>

	<% if devise_mapping.rememberable? -%>
		<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	<% end -%>

	<%= f.submit("sign in", html: { class: "btn btn-large btn-primary" }) %><br />
	<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  		<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
	<% end -%>
<% end %>

